#loginIcon{
    width: 175px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginHeader{
    text-align: center;
}

#log{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}